{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}{{ "Ajout d'une image"|trans }}{% endblock %}

{% block content %}
    <h1>Image creation</h1>

    {{ form_start(form) }}
        {# {{ form_widget(form) }} #}
        {{ form_label(form.path, null, { 'label_attr': { 'class': 'sr-only'  } }) }}
        {{ form_errors(form.path) }}        
        {{ form_widget(form.path)}}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('image_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
